.odin2-card {
  font-size: 16px !important;
  padding: 0px !important;
}

.odin2-card-header {
  font-size: 16px !important;
  padding: 0px !important;
}

.odin2-card-content {
  padding: 0px !important;
}
