.odin2-card {
  height: 40%;
  font-size: 16px !important;
  padding: 0px !important;
}

.odin2-card-header {
  font-size: 16px !important;
  padding: 0px !important;
  background-image: url('../assets/breadcrumbbar-bkg.png');
  background-repeat: repeat-x;
  color: wheat;
}

.odin2-card-header2 {
  font-size: 16px !important;
  padding: 0px !important;
  background-image: url('../assets/breadcrumbbar-bkg.png');
  background-repeat: repeat-x;
  color: wheat;
}

.odin2-card-content {
  padding: 0px !important;
}

.odin2-grid-toolbar {
  background-image: url('../assets/toolbar-bkg.png');
  background-repeat: repeat-x;
  min-height: 24px;;
  height: 24px;
  padding: 0px;
}
